.activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fbfbfb;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  color: #20253a;
  font-size: 1.5rem;
  padding: 2rem 3rem;
  width: 835px;
  height: 320px;
}

.activity_chart {
  max-height: 70%;
}

.activity_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity_title h2 {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.activity_title ul {
  display: flex;
  color: #74798c;
  font-size: 1.4rem;
  list-style: none;
}

.activity_title li {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.activity_title li::before {
  content: "•";
  color: red;
  font-size: 3rem;
  padding: 1rem;
}

.activity_title li:first-child::before {
  color: #282d30;
}

.activity_tooltip {
  background-color: red;
  color: white;
  font-size: 7px;
  font-weight: 500;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 39px;
  height: 63px;
}
.activity_tooltip p {
  font-size: 7px;
  font-weight: 500;
  margin: 0px;
}
@media screen and (max-width: 1024px) {
  .activity {
    width: 69%;
    height: 324px;
    padding: 2rem 1rem;
  }
  .activity_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12%;
  }
  .activity_title h2 {
    font-size: 13px;
  }
  .recharts-responsive-container.activity_chart {
    width: 74%;
  }
}
