.score {
  position: relative;
  background: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  color: #20253a;
  width: 258px;
  height: 263px;
}

.score h2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #20253a;
}

.score_chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .score {
    width: 160px;
    height: 175px;
  }
  .score h2 {
    top: -21px;
  }
}
