.score{
    position: relative;
    background: #FBFBFB;    
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    color: #20253A;
    grid-area: 3 / 3 / 5 / 4;
    /*max-height: 26.3rem;*/
}

.score h2{
    position: absolute;
    top: 0;
    left: 0;
    color: #20253A;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 3rem;
}

.score_chart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}