.dashboard {
  margin: 3rem auto 8rem auto;
  padding: 0 3rem 0 3rem;
  width: 80%;
}

.dashboard_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  grid-auto-rows: auto auto;
}
.dashboard {
  margin: 3rem auto 8rem auto;
  padding: 0 3rem 0 3rem;
  width: 80%;
}

.dashboard_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  grid-auto-rows: auto auto;
}
