.header {
  width: 100%;
  margin-top: 108px;
  margin-bottom: 101px;
}

.header,
h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}

.header h1 span {
  color: red;
}

.header,
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .header {
    margin-left: 10px;
    margin-top: 5px;
  }
  .header,
  h1 {
    font-size: 18px;
  }
}
