.sidebar {
  /* width: 12%;
  height: 100vh;
  background-color: #020203;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  margin-top: -12%;
  padding-bottom: 7%;*/

  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background-color: black;
  padding: 6rem 0;
}
.sidebar-icons {
  width: 64px;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 347px;
  gap: 20px;
}
.sidebar-copyright {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  width: 138px;
  line-height: 24px;
  transform: rotate(-90deg);
  margin-top: 164px;
}
