.sidebar {
  display: flex;
  width: 117px;
  height: 1024px;
  background: #020203;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar_nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 240px 34px 16px 4px;
  gap: 20px;
}
a.sidebar_copy {
  color: white;
  text-decoration: none;
  height: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  width: 150px;
  transform: rotate(-90deg);
}
