* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: auto;
  max-width: 1440px;
  width: 100%;
  font-family: "Roboto";
}
/*@media screen and (min-width: 1024px) {
  #root {
    max-width: 1440px;
  }
  .nav {
    width: 100%;
  }
}*/
