.nav {
  display: flex;
  justify-content: space-between;
  background: #020203;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  padding: 2rem 0;
  flex-wrap: wrap;
}

.nav_logo {
  width: 178px;
  height: 60.93px;
  margin-left: 28px;
}

.nav_links {
  display: flex;
  flex-flow: row wrap;
  gap: 7rem;
  padding-right: 91px;
  align-items: center;
}

.nav-link {
  color: white;
  font-size: 2.4rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .nav_links {
    display: flex;
    flex-flow: row wrap;
    gap: 0;
  }
}
